body {
	margin:0;
	padding:0;
}
#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 16vw;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.start {
    color: #b00e0e;
    font-size: 13px;
    display: inline;
}
.goal {
    color: #17991b;
    font-size: 13px;
    display: inline;
}
.btn1 {
    background-color:#db3333;
    border-radius:2px;
    border:1px solid #704a4a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:10px 20px;
    text-decoration:none;
}
.btn1:hover {
    background-color:#a81b1b;
}
.btn1:active {
    position:relative;
    top:1px;
}
.btn2 {
    background-color:#339967;
    border-radius:2px;
    border:1px solid #002200;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:10px 20px;
    text-decoration:none;
}
.btn2:hover {
    background-color:#44aa78;
}
.btn2:active {
    position:relative;
    top:1px;
}
.btn3 {
    background-color:#aaaaaa;
    border-radius:2px;
    border:1px solid #111111;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:8px 16px;
    text-decoration:none;
}
.btn3:hover {
    background-color:#999999;
}
.btn3:active {
    position:relative;
    top:1px;
}
