body {
	margin:0;
	padding:0;
}
#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 260px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.start {
    background: #b00e0e;
    color: #f0f0f0;
    font-size: 13px;
    display: inline;
}
.goal {
    background: #17991b;
    color: #f0f0f0;
    font-size: 13px;
    display: inline;
}
.btn1 {
    background-color:#db3333;
    border-radius:15px;
    border:1px solid #704a4a;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8f1e1e;
}
.btn1:hover {
    background-color:#a81b1b;
}
.btn1:active {
    position:relative;
    top:1px;
}
.btn2 {
    background-color:#44c767;
    border-radius:15px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.btn2:hover {
    background-color:#5cbf2a;
}
.btn2:active {
    position:relative;
    top:1px;
}
.btn3 {
    background-color:#1122db;
    border-radius:15px;
    border:1px solid #2520bd;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:10px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000073;
}
.btn3:hover {
    background-color:#1e2bb3;
}
.btn3:active {
    position:relative;
    top:1px;
}
